* {
  box-sizing: border-box;
  margin: 0px;
  outline: none;
  padding: 0px;
  text-transform: uppercase;
}

body {
  background: #cfcfcf;
  height: 100vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
